{% extends "templates/web.html" %}
{% block page_content %}

<div class="py-20 row">
    <div class="col-sm-2" style="margin-top: 50px;">
        <img alt="{{ title }}" src="{{ image }}" class="img-fluid"/>
    </div>
    <div class="col" style="margin-top: 1px;">
        <h1>{{ title }}</h1>
        <p class="lead">{{ category }}</p>
        <div class="mt-4">
            <div>Price: <strong>{{ price }}</strong></div>
            {% if doc.minimum_stock>=quantity %}
            <p style="color:tomato;">Quantity : {{doc.quantity}}</p>
            {% else %}
            <p>Quantity : <strong>{{doc.quantity}}</strong></p>
            {% endif %}
        </div>
        <p>{{description}}</p>
    </div>
</div>
{% endblock %}